<p>Blog Post</p>


<p>Viewing post with ID</p>
<p id="id">{{post.id}}</p>
<br>
<div class="my-post">
    <p> {{post.title}}</p>
    <p> {{post.content}}</p>
</div>



<p><a href="/api/posts/edit/{{post.id}}">Edit Post</a></p>
<button id="delete">Delete</button>

<script src="/js/delete.js"></script>


