<p>edit</p>

<p>commenting on post with ID</p>
<p id="postid">{{postid}}</p>
<p>commenting as user with id</p>
<p id="userid">{{userid}}</p>

<form id="content-form">
    <label for="comment-body">Title:</label>
    <input type="text" id="comment-body" />


    <label for="comment-body">Comment:</label>
    <input  type="text" id="comment-body" />

    <button type="submit">Edit</button>
</form>

<script src="/js/editPost.js"></script>