<p>Commentary Post</p>

<p>Create new post with ID</p>
<p id="id">{{post.id}}</p>

<div class="my-post">
    <p> {{post.title}}</p>
    <p> {{post.content}}</p>
</div>

<p><a href= "/api/comments/form/{{post.id}}">Create a new comment</a></p>

