<p>edit</p>

<p>Editing post with ID</p>
<p id="id">{{id}}</p>

<form id="edit-form">
    <label for="update-title">Title:</label>
    <input type="text" id="update-title" />


    <label for="update-content">Content:</label>
    <input  type="text" id="update-content" />

    <button type="submit">Edit</button>
</form>

<script src="/js/editPost.js"></script>