<p> Login </p>
    <form id="login-form">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />

        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />


        <button type="submit">login</button>
      </div>
    </form>
<p> Or, sign up <a href = "/signup">here </a></p>

  </div>

  <script src="/js/login.js"></script>
  
