<p>NewPost</p>

<p>Create new post with ID</p>
<p id="id">{{id}}</p>

<form id="edit-form">
    <label for="update-title">Title:</label>
    <input type="text" id="update-title" />


    <label for="update-content">Content:</label>
    <input  type="text" id="update-content" />

    <button type="submit">Create</button>
</form>

<script src="/js/newPost.js"></script>