<p> Signup</p>

<form id ="signup-form">
    <label for = " username-signup"> Name: </label>
    <input class = "signup-input" type = "text" id = "username-signup" />


    <label for = "email-signup"> Email: </label>
    <input class = "signup-input" type = "text" id = "email-signup" />

<label for ="password-signup"> Password: </label>
    <input class = "signup-input" type = "password" id = "password-signup" />

    <button type = "submit">Signup</button>
</form>
<script src="/js/signup.js"></script>